*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f7fc;
}

/* Navbar */

.navbar{
    width:100%;
    background:#2c3e50;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:white;
    font-size:28px;
    font-weight:bold;
}

.nav-links a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-size:18px;
}

.nav-links a:hover{
    color:#00bcd4;
}

/* Hero Section */

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:linear-gradient(to right,#3498db,#2c3e50);
    color:white;
    text-align:center;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    margin-bottom:30px;
}

.btn{
    text-decoration:none;
    background:white;
    color:#2c3e50;
    padding:14px 28px;
    border-radius:8px;
    font-size:18px;
    font-weight:bold;
}

.btn:hover{
    background:#00bcd4;
    color:white;
}